<% var count = 0; %>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Level</th>
			<th>Message</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody>
		<% for(entry in logs) { count++; %>
			<% if(logs[entry].level == "info") { %>
				<tr class="info">
			<% } else if(logs[entry].level == "error") { %>
				<tr class="danger">
			<% } else if(logs[entry].level == "debug") { %>
				<tr class="warning">
			<% } else { %>
				<tr>
			<% } %>
				<td><%- count %></td>
				<td><%- logs[entry].level %></td>
				<td><%- logs[entry].message %></td>
				<td><%- logs[entry].timestamp %></td>
			</tr>
		<% } %>
	</tbody>
</table>